.header {
    padding: 10px;
    display: flex;
}
.header-buttons {
    display: flex;
    margin-left: auto;
}
.header-logo {
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'whitney-book';
}
.header-logo:hover {
    cursor: pointer;
}